*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 }
 body{
   background-color: rgb(255, 255, 255);
 }

 .container{
   width: 95%;
   max-width: 1280px;
   margin: 0 auto;
 }
 .n-main{
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.n-center{
   display: flex;
   gap: 30px;
   a{
      text-decoration: none;
      color: rgb(60, 59, 59);
      font-size: 20px;
   }
}
.n-left{
   width: 50px;
}

.n-right{
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.mob svg{
   color: white;

}
.mob{
   display: none;
}

@media (max-width:800px) {
   .mob{
      display: block;
   }
   .n-center{
      display: none;
   }
  
   
}
.active{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99;
   width: 100%;
   height: 100vh;
   background-color: #111;
   display: flex;
   flex-direction: column;
   gap: 30px;
   justify-content: center;
   align-items: center;
   a{
      font-size: 22px;
   }
}

.mob-active{
   position: relative;
   z-index: 100;
}

.hidden{
   overflow-y: hidden;
}



 .logo img{
    width: 200px;
 }
 .models{
    display: flex;
    gap: 30px;
    a{
        color: white;
        font-size: 16px;
        
    }
 }

 .btns{
    display: flex;
    gap: 30px;
    button{
        border: none;
        font-size: 16px;
        background: none;
        font-weight: 600;
        cursor: pointer;
    }
 }

 header{
   width: 100%;
   background-color: #ffffff;
   height: max-content;
}


.h-main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 60px 0;
}


.h-left{
   .h1{
       font-size: 48px;
       background-color: #b3d0f4;
       color: rgb(36, 46, 234);
   }
   p{
       color: #727272;
       font-size: 13px;
       padding: 60px 0;
   }
   button{
       width: 151px;
       height: 58px;
       background-color: #0a70ed;
       border: none;
       font-size: 16px;
       cursor: pointer;
       color: azure;
       
         }
         a{
            font-size: 15px;
            color: #727272;
         }
}




.h-right img {
   width: 100%;
   max-width: 555px;
}

.logo img{
  width: 100%;
  
}

.a-main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 60px 0;
}
.stayl{
   align-items: center;
}

.k{
   width: 100%;
   max-width: 555px;
   margin-left: 50px;
   
}





.f-main {
   width: 100%;
   height: max-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 100px 0;
}
h3{
   color: rgb(165, 19, 19);
   font-size: 10px;
   text-align: end;
   margin-right: 543px;
}

.f-left {
   h1{
      color: #111;
      font-size: 40px;
      text-align: end;
      margin-right: 50px ;
   }
   h4 {
       font-size: 15px;
       padding-bottom: 50px;

   }

   p {
       font-size: 13px;
       color: #111;
       padding: 10px 0;
   }

   img{
       width: 100%;
       max-width: 400px;  
       background-color: #0a70ed;
       border-radius: 400px;
   }

}


h5{
   font-size: 10px;
   color: red;
   text-align: center;
}

.q{
   font-size: 35px;
   color: #111;
   text-align: center;
}

.center{
   display: flex;
   gap: 30px;
   text-align: center;
   margin-left: 586px;
    a{
      text-decoration: none;
      color: rgb(60, 59, 59);
      font-size: 10px;
      text-align: center;
   }
   .w{
      color: red;
   }
}


.card_main{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
   padding: 80px 0;
}

.card{
   width: 250px;
   background-color: #fff;
   color: #111;
   padding: 5px;
   margin: 5px;
   border: black;
   border: 1px solid rgb(0, 0, 0);
   img{
       width: 100%;
       max-width: 200px;
       object-fit: cover;
   }
   h5{
      color: #111;
      font-size: 10px;
      margin-right: 80px;
   }
   h4{
      font-size: 25px;
      color: #111;
       gap: 20px;
   }
   a{
      font-size: 12px;
      color: #1c1c1c;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
      gap: 20px;
   }
   p{
    font-size: 8px;
    color: red;
    gap: 20px;
   }
}













